:root {
	--dark-blue: #222;
	--pink: #F1E4E6;
	--dark-pink: #F16D7F;
	--brown: #5D514C;
	--gray: #F8F8F8;
	--dark-blue_2: #222224;
	--white: #EEEEEE;
	--light-gray: #E1E1E1;;
	--super-light-gray: #B1B1B1;


}


.registration {
	background-color: var(--pink);
	min-height: 138px;
}

.registration__text {
	color: var(--dark-pink);
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	padding: 59px 0;
}

.content {
	padding: 64px 0 138px 0;
}

.content__wrapper {
	display: flex;
	justify-content: space-between;
}

.content__wrapper-form {
	max-width: 360px;
	padding-right: 128px;
}

.content__form {
	display: flex;
	flex-direction: column;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: var(--dark-blue);
}

.content__form-name {
	margin: 20px 0 0 0;
	border: 1px solid var(--light-gray);
	outline: none;
	width: 360px;
	min-height: 45px;
	box-sizing:border-box;
	padding-left: 16px;
}


.content__form-name::placeholder {
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
	color: var(--super-light-gray);
}

.content__form-name:focus,
.content__form-name:active {
	border: 1px solid red;
	background: white;
	cursor: pointer;
}

.content__radio {
	margin-top: 31px;
	margin-bottom: 33px;
}

.radio-label {
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
	vertical-align: 0.3em;
}

.content__text {
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
	padding: 15px 0 35px 0;
	color: var(--super-light-gray);
}

.content__form-button {
	width: 167px;
    height: 50px;
    border: none;
    outline: none;
    background-color: var(--dark-pink);
    color: var(--white);
    text-transform: uppercase;
	font-size: 14px;
	line-height: 17px;
}

.content__form-button:hover,
.content__form-button:focus {
	opacity: 0.5;
}

.button-arrow {
	padding-left: 20px;
	line-height: 17px;
}


.list-title {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.list-text {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	width: 652px;
	margin-bottom: 21px;
}

.content__list {
	margin: 0;
	list-style: none;
}

.content__item {
	position: relative;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	padding-top: 16px;
	padding-left: 38px;
}

.content__item:before {
	content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 25px;
    background-image: url(../img/check.svg);
    background-size: 15px 15px;

}

