html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;
	vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.position-relative {
  position: relative;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.header {
  background-color: #222;
}

.header .header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__wrapper .header__logo-link {
  text-decoration: none;
  padding-right: 41px;
}

.header .header__wrapper .header__button {
  background: transparent;
  border: none;
  margin: 0 30px 0 0;
  outline: none;
}

.header .header__wrapper .header__link .header__icon {
  fill: #EEEEEE;
}

.header .header__wrapper .header__person-link {
  margin: 0 30px 0 0;
  text-decoration: none;
}

.header .header__wrapper .header__cart-link {
  position: relative;
  text-decoration: none;
}

.header .header__wrapper .header__cart-link .header__cart-link--counter {
  border-radius: 50%;
  background: #F16D7F;
  color: #EEEEEE;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 20px;
}

.header .header__wrapper .header__link:hover .header__icon,
.header .header__wrapper .header__link:active .header__icon {
  fill: #F16D7F;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px 0;
}

.brand .brand__overlay-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__overlay {
  background: rgba(58, 56, 56, 0.8);
  height: 100%;
  width: 100%;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav {
  background: #EEEEEE;
  height: 100%;
  width: 232px;
  padding: 16px 0 0 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__button-wrapper .brand__button {
  border: none;
  outline: none;
  margin-right: 16px;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__nav-title {
  padding: 10px 0;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list {
  padding-top: 10px;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list .brand__subitem {
  padding-bottom: 10px;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list .brand__nav-title,
.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list .brand__nav-subtitle,
.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list .brand__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list .brand__nav-subtitle {
  color: #F16D7F;
  padding-bottom: 12px;
}

.brand .brand__overlay-wrapper .brand__overlay-subwrapper .brand__nav .brand__list .brand__link {
  color: #6F6E6E;
  text-transform: capitalize;
  text-decoration: none;
}

.brand .brand__title-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 91px;
}

.brand .brand__title-wrapper .brand__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  padding: 0 0 0 10px;
  border-left: 12px solid #F16D7F;
}

.brand .brand__title-wrapper .brand__subtitle {
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.brand .brand__title-wrapper .brand__subtitle__subtitle--pink {
  color: #F16D7F;
  display: inline;
}

.offers {
  padding: 0 0 97px 0;
}

.offers .offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers .offers__list .offers__item {
  width: 360px;
  min-height: 260px;
  background-color: #5D514C;
  color: #ffffff;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers .offers__list .offers__item .offers__item-title {
  text-transform: uppercase;
  line-height: 19px;
  text-align: center;
}

.offers .offers__list .offers__item .offers__item-text {
  font-size: 24px;
  color: #F16D7F;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 700;
}

.offers .offers__list .offers__item--woman {
  background-image: url(../img/women.png);
}

.offers .offers__list .offers__item--man {
  background-image: url(../img/man.png);
}

.offers .offers__list .offers__item--kids {
  background-image: url(../img/kids.png);
}

.offers .offers__list .offers__item--accesories {
  background-image: url(../img/trendy.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
}

.products {
  padding: 0 0 95px 0;
}

.products .products__heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.products .products__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  padding: 0 0 48px 0;
}

.products .products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0 0 18px 0;
}

.products .products__item {
  width: 360px;
  min-height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.products .products__overlay {
  display: none;
}

.products .products__overlay:before {
  content: '';
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.8);
  position: absolute;
  top: 0;
}

.products .cart {
  position: absolute;
  color: #EEEEEE;
  background: transparent;
  border: 1px solid #EEEEEE;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 138px;
  min-height: 43px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  outline: none;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  display: none;
}

.products .products__item:hover .products__overlay {
  display: block;
}

.products .products__item:hover .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .products__item-heading {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 25px 0 12px 18px;
}

.products .products__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 0 0 18px 18px;
  width: 314px;
}

.products .products__item-price {
  line-height: 19px;
  color: #F16D7F;
  padding: 0 0 0 18px;
}

.products .products__button {
  width: 211px;
  height: 47px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  text-decoration: none;
  padding: 14px 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.products .products__button:hover,
.products .products__button:focus,
.products .products__button:active {
  color: #EEEEEE;
  background: #F16D7F;
  cursor: pointer;
}

.advantages {
  background-color: #222224;
}

.advantages .advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 341px;
}

.advantages .advantages__item {
  color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.advantages .advantages__wrapper {
  height: 40px;
}

.advantages .advantages__item-heading {
  font-size: 19px;
  line-height: 24px;
  padding: 28px 0 16px 0;
}

.advantages .advantages__item-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  width: 360px;
}

.registration {
  background-color: #F1E4E6;
  min-height: 138px;
}

.registration .registration__text {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 59px 0;
}

.content {
  padding: 64px 0 138px 0;
}

.content .content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content__wrapper-form {
  max-width: 360px;
  padding-right: 128px;
}

.content .content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.content .content__form-name {
  margin: 20px 0 0 0;
  border: 1px solid #E1E1E1;
  outline: none;
  width: 360px;
  min-height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
}

.content .content__form-name::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--super-light-gray);
}

.content .content__form-name:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--super-light-gray);
}

.content .content__form-name::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--super-light-gray);
}

.content .content__form-name::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--super-light-gray);
}

.content .content__form-name:focus,
.content .content__form-name:active {
  border: 1px solid red;
  background: #EEEEEE;
  cursor: pointer;
}

.content .content__radio {
  margin-top: 31px;
  margin-bottom: 33px;
}

.content .radio-label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  vertical-align: 0.3em;
}

.content .content__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 15px 0 35px 0;
  color: #B1B1B1;
}

.content .content__form-button {
  width: 167px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #F16D7F;
  color: #EEEEEE;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 30px;
  font-family: Lato;
}

.content .content__form-button:hover,
.content .content__form-button:focus {
  opacity: 0.5;
}

.content .list-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.content .list-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  width: 652px;
  margin-bottom: 21px;
}

.content .content__list {
  margin: 0;
  list-style: none;
}

.content .content__item {
  position: relative;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-top: 16px;
  padding-left: 38px;
}

.content .content__item:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 25px;
  background-image: url(../img/check.svg);
  background-size: 15px 15px;
}

.cart-content {
  padding: 96px 0 128px 0;
}

.cart-content .cart-content__common-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-content .cart-content__wrapper {
  width: 652px;
  padding-right: 128px;
}

.cart-content .cart-content__wrapper .cart-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  width: 210px;
  margin-bottom: 42px;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item {
  min-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item .cart-content__cross {
  border: none;
  background: transparent;
  outline: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 28px;
  padding-right: 22px;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item .cart-content__sublist {
  padding: 22px 0 0 31px;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item .cart-content__sublist .cart-content__subitem {
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item .cart-content__sublist .cart-content__subitem .cart-content__value {
  margin-left: 5px;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item .cart-content__sublist .cart-content__subitem .cart-content__value--pink {
  color: #F16D7F;
}

.cart-content .cart-content__wrapper .cart-content__list .cart-content__item .cart-content__sublist .cart-content__subitem .cart-content__quantity {
  width: 39px;
  height: 25px;
  border: 1px solid #EAEAEA;
  outline: none;
  margin-left: 20px;
  color: #575757;
  text-align: center;
}

.cart-content .cart-content__wrapper .cart-content__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-content .cart-content__wrapper .cart-content__buttons-wrapper .cart-content__reset {
  padding: 16px 40px;
  border: 1px solid #AFAFAF;
  background: transparent;
  text-transform: uppercase;
  outline: none;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
  color: #222;
  font-family: Lato;
}

.cart-content .cart-content__wrapper .cart-content__buttons-wrapper .cart-content__redirect {
  padding: 16px 40px;
  border: 1px solid #AFAFAF;
  background: transparent;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222;
}

.cart-content .cart-content__wrapper .cart-content__buttons-wrapper .cart-content__reset:hover,
.cart-content .cart-content__wrapper .cart-content__buttons-wrapper .cart-content__redirect:hover {
  background: #AFAFAF;
  color: #EEEEEE;
}

.cart-content .cart-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.cart-content .cart-content__form .cart-content__form-title {
  text-transform: uppercase;
}

.cart-content .cart-content__form .cart-content__form-country {
  margin: 20px 0 0 0;
  border: 1px solid #E1E1E1;
  outline: none;
  width: 360px;
  min-height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
}

.cart-content .cart-content__form .cart-content__form-country:focus,
.cart-content .cart-content__form .cart-content__form-country:active {
  border: 1px solid red;
  background: #EEEEEE;
  cursor: pointer;
}

.cart-content .cart-content__form .cart-content__form-button {
  padding: 10px;
  border: 1px solid #AFAFAF;
  background: transparent;
  text-transform: uppercase;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #AFAFAF;
  text-transform: uppercase;
  display: inline-block;
  width: 100px;
  margin-top: 23px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  font-family: Lato;
}

.cart-content .cart-content__form .cart-content__form-button:hover {
  color: #EEEEEE;
  background: #AFAFAF;
}

.cart-content .cart-content__checkout {
  width: 360px;
  min-height: 214px;
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  margin-top: 57px;
}

.cart-content .cart-content__checkout .cart-content__checkout-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  margin-bottom: 21px;
}

.cart-content .cart-content__checkout .cart-content__final-subprice {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #B1B1B1;
  margin-bottom: 12px;
}

.cart-content .cart-content__checkout .cart-content__final-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.cart-content .cart-content__checkout .cart-content__final-subprice--value {
  margin-left: 10px;
}

.cart-content .cart-content__checkout .cart-content__final-price--value {
  margin-left: 10px;
  color: #F16D7F;
}

.cart-content .cart-content__checkout-wrapper {
  border-top: 1px solid #AFAFAF;
  width: 275px;
}

.cart-content .cart-content__checkout-wrapper .cart-content__checkout-button {
  width: 275px;
  padding: 15px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: #F16D7F;
  color: #EEEEEE;
  font-size: 16px;
  line-height: 19px;
  margin-top: 17px;
  font-weight: 300;
  font-family: Lato;
}

.cart-content .cart-content__checkout-wrapper .cart-content__checkout-button:hover {
  opacity: 0.7;
}

.contacts {
  background-image: url(../img/bg-subscribe.png);
  padding: 97px 0 126px 0;
}

.contacts .contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .contacts__feedback {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacts .contacts__feedback-text {
  font-size: 20px;
  line-height: 24px;
  padding: 30px 0 0 0;
}

.contacts .contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts .contacts__form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 49px;
}

.contacts .contacts__form-email {
  background: #E1E1E1;
  width: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 20px 0px 0px 20px;
  padding: 0 0 0 22px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.contacts .contacts__form-email:hover,
.contacts .contacts__form-email:focus {
  border: 1px solid red;
  background: white;
  cursor: pointer;
}

.contacts .contacts__form-button {
  width: 100px;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 0;
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #EEEEEE;
  outline: none;
}

.contacts .contacts__form-button:hover,
.contacts .contacts__form-button:focus {
  opacity: 0.5;
}

.contacts .contacts__form-button:active {
  opacity: 0.7;
}

.contacts .contacts__form-title {
  font-weight: bold;
  line-height: 167%;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.contacts .contacts__form-text {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 167%;
  padding: 0 0 32px 0;
}

.footer {
  padding: 30px 0;
  background-color: #222;
}

.footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__text {
  color: #EEEEEE;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__link {
  display: block;
  width: 32px;
  height: 32px;
  background: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.footer .footer__icon {
  fill: #222;
}

.footer .footer__link:hover {
  background: #F16D7F;
}

.footer .footer__link:hover .footer__icon {
  fill: #EEEEEE;
}
